body {
    padding:0;
    margin:0;
    width:100%;
    display:grid;
    grid-template-columns: 40px 1fr 1fr 1fr 1fr 1fr 1fr 40px;
    grid-template-rows:auto;
    grid-column-gap: 20px;
    align-items: stretch;
    grid-template-areas: 
    "header header header header header header header header"
    "main main main main main main main main"
    "footer footer footer footer footer footer footer footer"
    ;

}

body header {
    height:900px;
    background:#808080;
    grid-area:header;
}

body main {
    height:auto;
    grid-area:main;
}

    body main .study {
        width:100%;
        height:450px;
        background:#B4B4B4;
    }

    body main .grade {
        width:100%;
        height:600px;
        background:#B4B4B4;
    }


    body main .school {
        width:100%;
        height:600px;
        background:#B4B4B4;
    }


    body main .job {
        width:100%;
        height:450px;
        background:#B4B4B4;
    }

    body main .projects {
        width:100%;
        height:450px;
        background:#B4B4B4;
    }

    body main .questions {
        width:100%;
        height:600px;
        background:#B4B4B4;
    }

    body main .contactus {
        width:100%;
        height:600px;
        background:#B4B4B4;
    }

body footer {
    height:365px;
    background:#3C3C3C;
    grid-area: footer;
}