html{
    padding:0;
    margin:0;
}

body {
    padding:0;
    margin:0;
    width:100%;
    display:grid;
    grid-template-columns: 40px repeat(6,1fr) 40px;
    grid-template-rows:auto;
    grid-column-gap: 20px;
    align-items: stretch;
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav "
    "header header header header header header header header"
    "main main main main main main main main"
    "footer footer footer footer footer footer footer footer"
    ;
    font-family: 'Quicksand', sans-serif;
}

body nav.navigation {
    background:red;
    height:60px;
    grid-area:nav;
    display:grid;
    grid-template-columns: 40px repeat(6,1fr) 40px;
    grid-template-rows:auto;
    grid-column-gap: 20px;
    align-items: center;
}
    body nav.navigation a.logo {
        /*background-color: blue;*/
        list-style-type:none;
        text-decoration: none;
        color:white;
        grid-column-start:2;
        grid-column-end:3;
    }

    body nav.navigation ul {
        margin:0;
        /*background:blue;*/
        grid-column-start: 4;
        grid-column-end: 9;
    }

        body nav.navigation ul li {
            display:inline-block;
            margin-left:48px;
        }

        body nav.navigation ul li a{
            list-style-type: none;
            text-decoration:none;
            font-size:18px;
            color:white;
        }

body header {
    background:#808080;
    height:830px;
    grid-area:header;
}

body main {
    height:auto;
    grid-area:main;
}

    body main #study {
        width:100%;
        height:450px;
        /* nastavit background fotku*/
        background:crimson;
        display: flex;
        flex-direction: column;         
        align-items: center;
    }
        body main #study h1{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            font-size:40px;
            font-weight:normal;
        }
            body main #study .studyText{
                margin-top:30px;
                width:900px;
                font-size:20px;
                font-weight:300;
            }

    body main #grade {
        width:100%;
        height:600px;
        background:#B4B4B4;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction:column;
    }  

        body main #grade h1{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            font-size:40px;
            font-weight:normal;
        }

        body main #grade .gradeYears {
            background: brown;
            height:100%;
            width:100%;
            margin-top:30px;
            display:flex;
            justify-content: center;
            align-items: center;
        } 
            body main #grade .gradeYears .year {
                width:calc(100% / 3);
                height:100%;
                background-color: crimson;
            }

    body main #school {
        width:100%;
        height:600px;
        background-color:royalblue;
        display: flex;
        flex-direction: column;         
        align-items: center;
    }

        body main #school h1{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            font-size:40px;
            font-weight:normal;
        }

        body main #school .schoolDes {
            margin-top:30px;
            background-color: salmon;
            width:100%;
            height:100%;
        }
            body main #school .schoolDes .schoolDesImage{
                width:50%;
                height: 100%;
                float:left;
                background-color: seagreen;
            }

            body main #school .schoolDes .schoolDesText{
                width:50%;
                height:100%;
                float:right;
                font-size:20px;
            }

            body main #school .schoolDes .schoolDesText p {
                margin-left:20px;
            }

    body main #job {
        width:100%;
        height:450px;
        background:#B4B4B4;
        display: flex;
        flex-direction: column;         
        align-items: center;
    }

        body main #job h1{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            font-size:40px;
            font-weight:normal;
        }

        body main #job .jobDes {
            margin-top:30px;
            background-color: salmon;
            width:100%;
            height:100%;
        }
            body main #job .jobDes .jobDesImage{
                width:50%;
                height: 100%;
                float:right;
                background-color: seagreen;
            }

            body main #job .jobDes .jobDesText{
                width:50%;
                height:100%;
                float:left;
                font-size:20px;
            }

            body main #job .jobDes .jobDesText p {
                margin-left:20px;
            }

    body main #projects {
        width:100%;
        height:450px;
        background:#B4B4B4;
        display: flex;
        flex-direction: column;         
        align-items: center;
    }

        body main #projects h1{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            font-size:40px;
            font-weight:normal;
        }

        body main #projects .projectsWrap {
            margin-top:30px;
            width:80%;
            height:100%;
            background:crimson;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-wrap:wrap;
        }

        body main #projects .partner {
            width:140px;
            height:100px;
            background-color:darkgrey;
            margin:15px;
        }

    body main #questions {
        width:100%;
        height:600px;
        background:#B4B4B4;
        display: flex;
        flex-direction: column;         
        align-items: center;
    }

        body main #questions h1{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            font-size:40px;
            font-weight:normal;
        }

    body main #contactus {
        width:100%;
        height:600px;
        background:#B4B4B4;
        display:flex;
        align-items:center;
        justify-content: center;
    }

        body main #contactus h1{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            font-size:40px;
            font-weight:normal;
            margin-left:39px;
        }

        body main #contactus .contactWrap{
            width:80%;
            height:100%;
            background:crimson;
        }

            body main #contactus .contactWrap .left{
                float:left;
                height:100%;
                width:50%;
            }

                .google-maps {
                    position: relative;
                    padding-bottom: 437px;
                    height: 0;
                    overflow: hidden;
                    margin-left:39px;
                    margin-right:19.5px;
                    margin-top:30px;
                }
                .google-maps iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;
                }

            body main #contactus .contactWrap .right{
                float:right;
                height:100%;
                width:50%;
                background:darkred;
            }
            
            body main #contactus .contactWrap form {
                margin-top:30px;
                margin-left:39px;
                display:flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
            }

            body main #contactus .contactWrap form input,textarea {
                width:80%;
                padding: 12px 20px;
                box-sizing: border-box;
                margin:20px 0px;
            }

            body main #contactus .contactWrap form input[type="text"] {
                margin-top:initial;
            }

            body main #contactus .contactWrap input[type="button"] {
                margin:0;
                margin-top:20px;
                border:0;
                background-color:white;
            }

body footer {
    height:300px;
    background:#3C3C3C;
    grid-area: footer;
    display:flex;
    justify-content:center;
}
    body footer .footerWrap {
        width:80%;
        height:100%;
        background-color: darkslateblue;
        display:flex;
        align-items: center;
    }
        body footer .footerWrap h1{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            margin-left:39px;
            font-size:28px;
            font-weight:normal;
            font-weight:400;
        }

        body footer .footerWrap h2{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:19.5px;
            margin-left:39px;
            font-size:18px;
            font-weight:normal;
            font-weight:500;
        }

        body footer .footerWrap h3{
            margin-top: 0;
            margin-bottom: 0;
            padding-top:39px;
            margin-left:39px;
            font-size:18px;
            font-weight:normal;
            font-weight:900;
        }
            body footer .footerWrap .articleColumn,.articleColumn2,.articleColumn3,.articleColumn4 {
                height:100%;
                width:calc(100%/4);
                background-color:deeppink;
            }

            body footer .footerWrap .articleColumn .articlePartner {
                    width:50px;
                    height:50px;
                    background:blue;
                    margin-left:39px;
                    margin-top:19.5px;
                    display:inline-block;
            }

            body footer .footerWrap .articleColumn2 {
            
            }

                body footer .footerWrap .articleColumn2 ul{
                    list-style-type: none;
                    /*background:crimson;*/
                    margin-top:90px;
                    font-size:18px;
                }

                body footer .footerWrap .articleColumn2 li {
                    margin-top:12px;
                }

                body footer .footerWrap .articleColumn2 a {
                    text-decoration:none;
                    display:block;
                    color:white;
                }

             body footer .footerWrap .articleColumn2 {
            
             }

                body footer .footerWrap .articleColumn2 ul{
                    list-style-type: none;
                    /*background:crimson;*/
                    margin-top:90px;
                    font-size:18px;
                }

                body footer .footerWrap .articleColumn2 li {
                    margin-top:12px;
                }

                body footer .footerWrap .articleColumn2 a {
                    text-decoration:none;
                    display:block;
                    color:white;
                }    

            body footer .footerWrap .articleColumn3 {
            
            }
                body footer .footerWrap .articleColumn3 ul{
                    list-style-type: none;
                    /*background:crimson;*/
                    margin-top:90px;
                    font-size:18px;
                }

                body footer .footerWrap .articleColumn3 li {
                    margin-top:12px;
                }

                body footer .footerWrap .articleColumn3 a {
                    text-decoration:underline;
                    display:block;
                    color:white;
                }   

            body footer .footerWrap .articleColumn4{

            }

                body footer .footerWrap .articleColumn4 h2{
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top:90px;
                    margin-left:39px;
                    font-size:18px;
                    font-weight:normal;
                    font-weight:500;
                    color:white;
                }

                body footer .footerWrap .articleColumn4 .articleSocial {
                width:50px;
                height:50px;
                background:blue;
                margin-left:39px;
                margin-top:19.5px;
                display:inline-block;
                
                }